<!doctype html>

<html lang="en"> 

 <head> 

  <meta charset="UTF-8"> 

  <title>Time Trove Admin</title> 

  <link rel="stylesheet" href="css/admin.css"> 

 </head> 

 <body> 

      <!-- main section -->
      <section>     <!--class="main-container" -->
        <div class="container-fluid">
            <div class="row p-0">
                <div class="col-12 m-0 d-flex p-0"> 
                  <div class="login-box">
                    <!-- admin login section -->
                    <div class="signin"> 
                      <div class="content"> 
                       <h2>Admin Login</h2> 
                        <form action="/admin" method="POST">
                                <div class="form"> 
                                  <div class="inputBox"> 
                                  <input type="text" name="name" id="namee" required placeholder="Admin"> 
                                  <!-- <i>Admin</i>  -->
                                  </div> 
                  
                                  <div class="inputBox"> 
                                  <input type="password" name="pass" id="passs" required placeholder="Password">
                                  <% if(adminPassError){ %>
                                    <p style="color: red; margin-top: 13px;font-size: 13px;">Invalid credentials.</p>
                                    <% } %>
                                    
                                   <!-- <i>Password</i>  -->
                                  </div> 
                              
                                  <div class="inputBox"> 
                                  <input onclick="alert1()" type="submit" value="Login"> 
                                  </div>
                                  
                                </div> 
                            </div> 
                          </div> 
                          <div id="test"></div>
                        </form>
                    <!-- /admin login section -->
                  </div>
                </div>
            </div>
        </div>
      </section>
    <!-- /main section  --> 


<script src="js/admin.js"></script>
 </body>

</html>