.main-container{
    height: 115vh;
    position: relative;
    display: flex;
}
/* .profile-icon{
    width: 50px;
    height: 50px;
} */

.profile-icon{
    background-color: rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    position: absolute;
    top: 33px;
    left: 12.5vw;
}
.main-head{
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    top: 28px;
    left: 16vw;
}
.user-name{
    font-size: 19px;
    position: absolute;
    top: 51px;
    left: 16vw;
    font-size: 13px;
    text-transform: capitalize;
}
.finishing-line1{
    width: 74vw;
    height: 1px;
    background-color: #b3a3a3;
    margin-top: 100px;
    margin-left: 12.5vw;
}
.left-line{
    position: absolute;
    width: 1px;
    height: 470px;
    background-color: #b3a3a3;
    left: 350px;
}
.headings{
    margin-left: 12.5vw; 
    color: #948e8e;
    font-size: 12px;
    padding-top: 23px;
}
.orders{
    margin-left: 12.5vw; 
    font-size: 16px;
    margin-top: -5px;
}
.text-line1{
    width: 160px;
    height: 1px;
    background-color: #b3a3a3;
    margin-left: 12.5vw; 
}
.logout-btn{
    border:none;
    border-radius: 5px;
    margin-left: 14.8vw;
    margin-top: 20px;
    width: 110px;
    height: 30px;
    color: white;
    background-color: rgb(145, 143, 49);
}
.profile-links{
    text-decoration: none;
    color: rgb(99, 98, 98);
}

.profile-links:hover,
.profile-links:active,
.profile-links:focus {
    color: #EC5858;
    font-weight: 500;
}
.userlogoutt-svg{
    height: 17px;
    width: 17px;
    margin-left: -10px;
    margin-right: 8px;
    margin-top: -4px;
}
.right-section{
    position: absolute;
    left: 30vw;
    top: 100px;
}
.address-image{
    margin-top: 30px;
    width: 200px; 
    width: 200px;
    margin-left: 19vw;
}
.img-head{
    font-size: 14px;
    font-weight: 500;
    margin-left: 19vw;
}
.img-txt{
    font-size: 14px;
    margin-left: 15.4vw;
    margin-top: -5px;
    color: rgb(102, 101, 101);
}
.addAddress-link{
    display: inline;
    text-decoration: none;
    position: absolute;
    left: 20vw;
    top: 330px;
    border: 1px solid rgb(158, 154, 154);
    border-radius: 4px;
    width: 170px;
    height: 38px;
}
.addAddress-link p{
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 7px;
}
